@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@keyframes music-bar {

  0%,
  100% {
    height: 20%;
  }

  50% {
    height: 100%;
  }
}

.animate-music-bar-1 {
  animation: music-bar 0.8s ease-in-out infinite;
}

.animate-music-bar-2 {
  animation: music-bar 0.8s ease-in-out infinite 0.2s;
}

.animate-music-bar-3 {
  animation: music-bar 0.8s ease-in-out infinite 0.4s;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-gemini-bg text-gemini-text font-sans selection:bg-gemini-primary selection:text-white antialiased;
}

/* Gemini Scrollbar (Subtle) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #E3E3E3;
  /* gemini-border */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C4C7C5;
  /* Darker gray for hover state */
}